:root {
    --filters: invert(50%) sepia(99%) saturate(1536%) hue-rotate(161deg) brightness(103%) contrast(108%);
    --filter-flame: invert(12%) sepia(92%) saturate(6483%) hue-rotate(1deg) brightness(101%) contrast(114%);
    --main-color: deepskyblue;
    --controls-color: #375a7f;
    --data-img-height: 18px; 
    --flame-img-height: 30px;
    --data-img-margin-top: 0px; 
    --data-img-margin-left: 0px;
    --data-txt-font-size: 28px;
    --data-txt-margin-left: 0px;
  }

.bodyContainer {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar {
    border-bottom: 1px solid var(--main-color);
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-dark .navbar-toggler {
    border-color: var(--main-color)
}

.navbar-dark .navbar-toggler-icon {
    filter: var(--filters);
}

.logo {
    height: 40px;
    filter: var(--filters);
}

.about {
    height: 20px;
}

.about-text {
    text-align: left;
}

.modal-content {
    width: 96%;
}

.digitalClock {
    font-size: 20px;
    text-align: center;
    color: var(--main-color);
    margin: 4px;
}

.sensorSimulation {
    font-size: 11px;
    text-align: center;
    color: var(--main-color);
}

.navbar-container {
    max-width: 900px;
}

.content-container {
    max-width: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

.imgTemperature {
    height: var(--data-img-height); 
    margin-top: var(--data-img-margin-top); 
    margin-left: var(--data-img-margin-left);
    filter: var(--filters);
}

.imgHumidity {
    height: var(--data-img-height); 
    margin-top: var(--data-img-margin-top); 
    margin-left: var(--data-img-margin-left);
    filter: var(--filters);
}

.imgFlameOn {
    height: var(--flame-img-height); 
    margin-top: var(--data-img-margin-top); 
    margin-left: var(--data-img-margin-left);
    filter: var(--filter-flame);
}

.imgFlameOff {
    height: var(--flame-img-height); 
    margin-top: var(--data-img-margin-top); 
    margin-left: var(--data-img-margin-left);
    filter: var(--filters);
}

.temperature {
    font-size: var(--data-txt-font-size);
    margin-left: var(--data-txt-margin-left);
    color:var(--main-color);
}

.humidity {
    font-size: var(--data-txt-font-size);
    margin-left: var(--data-txt-margin-left);
    color:var(--main-color);
}

.units-data-temperature {
    font-size: 14px;
    color:var(--main-color);
}

.units-data-humidity {
    font-size: 14px;
    color:var(--main-color);
}

.data-div {
    padding-left: 2px;
    padding-right: 0px;
    max-width: fit-content;
}

.units-data-div {
    padding-left: 8px;
    padding-right: 0px;
    max-width: 20px;
}

.img-data-col {
    max-width: 10px;
}

.form-control {
    width: 50%;
}

.form-input-number {
    width: 25%;
}

.blink_me {
    animation: blinker 1s linear infinite;
}
  
@keyframes blinker {  
    50% { opacity: 0; }
}

.noUi-tooltip {
    font-size: 18px !important;
    padding: 0px !important;
    background: var(--controls-color) !important;
    border: 0px !important;
    color: white !important;
    border-radius: 6px !important;
    right: -6px !important;
    width: 50px !important;
    height: 24px !important;
}

.noUi-handle {
    border-radius: 3px;
    background: var(--controls-color) !important;
    cursor: default;
    box-shadow: none !important;
    width: 40px !important;
    height: 19px !important;
    right: -12px !important;
}

.noUi-target {
    background: none !important;
}

.noUi-connect {
    background: var(--main-color) !important;
}

.noUi-marker {
    display: none !important;
}

.noUi-pips {
    display: none !important;
}
.sliderTime {
    height: 400px;
    margin-left: 18px;
}

.numberTemperature {
    width: 55px;
    font-size: 18px;
    height: 26px;
    margin: 0px;
    padding: 0px;
    background: var(--controls-color);
    color: white;
    text-align: center;
    border-radius: 6px;
}

.divNumberTemperature {
    padding-left: 0px !important;
    padding-right: 0px !important;
    max-width: 11% !important;
}

.allDayDataDiv {
    padding-left: 0px;
    padding-right: 0px;
}

.dayDiv {
    text-align: center;
}

.rowAllDaysData {
    margin-right: -19px;
}

.day {
    color: var(--main-color);
    font-style: bold;
    font-size: 14px;
    padding-left: 14px;
    font-family: monospace;
}