{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container content-container">

  <div class="row">

    <div class="col">
        <div id="flameOn" class="col img-flame-col">
          <img src="{{ url_for('static', filename='img/flame.svg') }}" class="imgFlameOn blink_me">
        </div>
        <div id="flameOff" class="col img-flame-col">
          <img src="{{ url_for('static', filename='img/flame.svg') }}" class="imgFlameOff">
        </div>
    </div>

    <div class="col">
      <div class="row">
        <div class="col img-data-col">
          <img src="{{ url_for('static', filename='img/temperature.svg') }}" class="imgTemperature">
        </div>
        <div class="col data-div">
          <p class="temperature" id="temperature"></p>
        </div>
        <div class="col units-data-div">
          <p class="units-data-temperature">{{ settings.temperatureUm }}</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row">
        <div class="col img-data-col">
          <img src="{{ url_for('static', filename='img/humidity.svg') }}" class="imgHumidity">
        </div>
        <div class="col data-div">
          <p class="humidity" id="humidity"></p>
        </div>
        <div class="col units-data-div">
          <p class="units-data-humidity">{{ settings.humidityUm }}</p>
        </div>
      </div>
    </div>

  </div>
          
</div>

<div class="container content-container">

  <form method="POST" action="/update">
    <div class="form-group">

      <div class="row">

        <div class="col">
          <input id="timeValue1" type="hidden" name="timeValue1" value="15.00">                    
          <div id="sliderTime1" class="sliderTime"></div>
          <script>
            createTimeSlider('sliderTime1', 'timeValue1');
          </script>
        </div>

        <div class="col">
          <input id="timeValue2" type="hidden" name="timeValue2" value="15.00">                    
          <div id="sliderTime2" class="sliderTime"></div>
          <script>
            createTimeSlider('sliderTime2', 'timeValue2');
          </script>
        </div>

        <div class="col">
          <input id="timeValue3" type="hidden" name="timeValue3" value="15.00">                    
          <div id="sliderTime3" class="sliderTime"></div>
          <script>
            createTimeSlider('sliderTime3', 'timeValue3');
          </script>
        </div>

        <div class="col">
          <input id="timeValue4" type="hidden" name="timeValue4" value="15.00">                    
          <div id="sliderTime4" class="sliderTime"></div>
          <script>
            createTimeSlider('sliderTime4', 'timeValue4');
          </script>
        </div>

        <div class="col">
          <input id="timeValue5" type="hidden" name="timeValue5" value="15.00">                    
          <div id="sliderTime5" class="sliderTime"></div>
          <script>
            createTimeSlider('sliderTime5', 'timeValue5');
          </script>
        </div>

        <div class="col">
          <input id="timeValue6" type="hidden" name="timeValue6" value="15.00">                    
          <div id="sliderTime6" class="sliderTime"></div>
          <script>
            createTimeSlider('sliderTime6', 'timeValue6');
          </script>
        </div>

        <div class="col">
          <input id="timeValue7" type="hidden" name="timeValue7" value="15.00">                    
          <div id="sliderTime7" class="sliderTime"></div>
          <script>
            createTimeSlider('sliderTime7', 'timeValue7');
          </script>
        </div>

      </div>

    </div>

    <button type="submit" class="btn btn-primary">Update</button>
  </form>

</div>

{% endblock %}